@model VisitorRegistry.Services.Visitors.VisitorDetailDTO

<div class="text-center mt-5">
    <i class="fas fa-check-circle fa-4x text-success mb-3"></i>

    <h2>Check-in completato</h2>

    <p class="fs-4 mt-3">
        Benvenuto <strong>@Model.Nome</strong>
    </p>

    <p class="text-muted">
        Puoi entrare
    </p>
</div>



