@model IEnumerable<VisitorRegistry.Services.Visitors.VisitorListDTO>

<h2>Elenco Visitatori</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cognome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var visitor in Model)
        {
            <tr>
                <td>@visitor.Id</td>
                <td>@visitor.Nome</td>
                <td>@visitor.Cognome</td>
            </tr>
        }
    </tbody>
</table>
